@colors_text_light: 100%;
@colors_text_medium: 38%;
@colors_text_dark: 17%;
@colors_pillar_border: 50%;
@colors_pillar_background: 76%;
@colors_page_background: 96%;

@size_pillar_width: 137px;
@size_nav_linkLeftGap: 8px;
@size_nav_sectionBottomGap: 20px;

@font_size_navigation_heading: 12px;
@font_size_navigation_text: 13px;

@resource_imgDir: e("../images/layout/");
@resource_fontDir: e("../fonts/");