@colors_text_light: #fff;
@colors_text_medium: hsl(hue(@colors_pillar_background), saturation(@colors_pillar_background), 41%);
@colors_text_dark: #2b2b2b;
@colors_pillar_background: #98a4a6;
@colors_pillar_border: hsl(hue(@colors_pillar_background), saturation(@colors_pillar_background), 50%);
@colors_page_background: 96%;
@colors_votebutton_background: #406880;
@colors_votebutton_background_enabled: #408040;

@size_pillar_width: 137px;
@size_pillar_margin: 0px;
@size_pillar_innerBorderWidth: 1px;
@size_pillar_outerBorderWidth: 2px;
@size_pillar_innerContentPadding: 10px;
@size_main_gap: 32px;
@size_nav_linkLeftGap: 8px;
@size_nav_sectionBottomGap: 20px;
@size_cells_minWidth: 324px;
@size_cells_height: 316px;
@size_cells_gap: 17px;
@size_cells_thumbnailMaxHeight: 274px;
@size_votebutton: 25px;
@size_votebutton_gap: @size_cells_gap;

@font_size_navigation_heading: 12px;
@font_size_navigation_text: 13px;

@opacity_vignette: 0.67;

@resource_imgDir: e("../images/");
@resource_fontDir: e("../fonts/");