@import "utilities.less";

body {
	background: @colors_page_background none repeat-x 0 0;
	font: 1em "Univers";
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.table {
	display: table;
	table-layout: fixed;
	height: 100%;
	width: 100%;
	position: absolute;
}

.tableRow {
	display: table-row;	
}
	
.tableCell {
	display: table-cell;
	vertical-align: top;
	height: 100%;
}

.main {
	.background-image("layout/background_top_shadow.png");
	background-repeat: repeat-x;
	height: 100%;
	width: 100%;
	position: relative;
	
	.mainPadding {
		padding: @size_main_gap;
	}	
}

a, a:visited {
	text-decoration: none;
	color: @colors_blue;
}

.pillar {
	border: @size_pillar_outerBorderWidth solid @colors_pillar_border;
	color: @colors_text_light;
	background-color: @colors_pillar_background;
	width: @size_pillar_width + @size_pillar_innerBorderWidth;
	
	.border {
		border: @size_pillar_innerBorderWidth solid white;
		height: 100%;
		position: absolute;
		width: @size_pillar_width;
		//background-color: red;
	}
	
	.pillarContent {
		position: absolute;
		width: @size_pillar_width - (2 * (@size_pillar_innerContentPadding + @size_pillar_innerBorderWidth));
		padding: @size_pillar_innerContentPadding;
	}
	
	.vignette {
		position: absolute;
		width: 268px;
		height: 268px;
		.background-image("layout/vignette.png");
		background-repeat: no-repeat;
		opacity: @opacity_vignette;
	
		&.top {
			top: 0;
		}
		&.bottom {
			bottom: 0;
		}
	}
	
	&.right {
		right: 0;
		
		#border > .solid(left);
		.border {
			#border > .solid(left);
		}
		
		.vignette {
			right: 0;
			&.top {
				background-position: 0% 100%;
			}
			&.bottom {
				background-position: 0% 0%;
			}
		}
	}
	
	&.left {
		left: 0;
		
		#border > .solid(right);
		.border {
			#border > .solid(right);	
		}
		
		.vignette {
			left: 0;
			&.top {
				background-position: 100% 100%;
			}
			&.bottom {
				background-position: 100% 0%;
			}
		}
	}
}

header{
	display: block;
	padding-top: 15px;
	
	h1 {
		text-indent: -9999px;
		width: 100px;
		height: 85px;
		background-repeat: no-repeat;
		.background-image ("layout/leftpillar_title.png");
		margin: 0 auto;
	}
}

.navigation {
	font-family: "Univers";
	line-height: 1.5em;
	#font>.size(@font_size_navigation_text, 16px);
	
	h3 {
		color: @colors_text_medium;
		text-transform: uppercase;
		//margin-left: -1 * @size_nav_linkLeftGap;
		font-family: "Univers Condensed";
		font-weight: bold;
		#font>.size(@font_size_navigation_heading, @font_size_navigation_text);
		margin-bottom: 1px;
	}
	
	a, a:visited {
		display: block;
		color: @colors_text_light;
		padding-left: @size_nav_linkLeftGap;
		
		&:hover {
			text-shadow: 0 0 8px hsla(hue(@colors_text_light), saturation(@colors_text_light), lightness(@colors_text_light), 1);
		}
		
		&:active {
			background-color: @colors_text_light;
			border-radius: 3px;
			color: @colors_text_dark;
		}
	}
	
	> div {
		
		margin-bottom: @size_nav_sectionBottomGap;
	}
}

.form {
	max-width: @size_designform_width;
	margin: 0 auto;
	background-color: white;
	#shadow>.box(0, 3px, 5px, hsla(0, 0, 0, 0.25));
	padding: 2em;	
}

.pageTitle {
	#font>.size(24px);
	margin-bottom: @size_designform_fieldGap;
}

h2 {
	.pageTitle;
}

.feedbackPanel {
	position: absolute;
	top: 8px;
	width: 100%;
	
	li {
		text-align: center;
		#font>.size(12px);
		
		span {
			#border>.radius(3px);
		}
	}
	
	span.feedbackPanelERROR {
		background-color: @colors_red;
		color: @colors_text_light;
		padding: 2px 6px;
	}
	
}