@charset "utf-8";
@import "layout.less";

.button (@color: hsl(0, 0%, 50%)) {
	width: @size_designform_width;
	padding: 0.4em;
	font-family: "Univers Condensed";
	#font>.size(18px);
	margin-top: @size_designform_fieldGap;
	cursor: pointer;
	color: @colors_text_light;
	border: 2px solid darken(@color, 17%);
	border-radius: 1px; //opera hack
	outline: 1px solid white;
	outline-offset: -3px;
	box-shadow: inset 1px 1px 3px rgba(0,0,0,0.75), inset -1px -1px 3px rgba(0,0,0,0.75);
	
	.mouseStateColors(@color){
		background-color: @color;
		&:hover {
			background-color: lighten(@color, 8%);
		}
		&:active {
			background-color: darken(@color, 8%) !important;
		}
	}
	.mouseStateColors(@color);
}
		
		
#BallotPage {
	.lastCell (column) {
		border-right-color: transparent;
	}
	.lastCell (row) {
		border-bottom-color: transparent;
	}
	
	form {
		input[type=submit] {
			.button(@colors_green);
			margin: @size_main_gap auto 0;
			display: block;
		}
	}
	
	.cellButton (@backgroundImageUrl, @backgroundColor) {
		position: absolute;
		bottom: @size_votebutton_gap;
		width: @size_votebutton;
		height: @size_votebutton;
		.box-sizing(content-box);
		padding: 0;
		border: 2px solid white;
		cursor: pointer;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		.background-image(@backgroundImageUrl);
		.button.mouseStateColors(@backgroundColor);
		color: rgba(0, 0, 0, 0.0);
	}
	
	.cells {
		.cell {
			float: left;
			min-width: @size_cells_minWidth;
			border: 1px solid @colors_bluegray;
			#border>.only(right, bottom);
			margin: -1px -1px 0 0;
			
			> div {
				text-align: center;
				height: @size_cells_height;
				position: relative;
				padding: @size_cells_gap;
				
				.thumbnail {
					height: @size_cells_thumbnailMaxHeight;
					
					img {
						max-height: 100%;
						max-width: 100%;
						#position > .centerBlock();
					}
				}
				
				.name {
					#position > .centerBlock();
					#font > .size(18px);
					font-family: "Univers Condensed";
					margin-top: 17px;
					.ellipses();
					padding: 0 40px;
				}
	
				.artistAndYear {
					#position > .centerBlock();
					#font > .size(13px);
					font-style: italic;
					opacity: 0.75;
				}
				
				.voteButton {
					.cellButton("voteButton_check.png", @colors_votebutton_background);
					left: @size_votebutton_gap;
					
					&.checked {
						.background-image("voteButton_check_enabled.png");
						.button.mouseStateColors(@colors_votebutton_background_enabled);
					}
				}
				
				.detailsButton {
					.cellButton("detailsButton.png", @colors_blue);
					right: @size_votebutton_gap;
					
				}
			}
		}
		
		:last-child {
			.lastCell(column);
		}
	}
	
	
	
	@media all and (min-width: 1965px) {
		#BallotPage .cells {
			.cell{
				width: 20%;
			}
			:nth-child(5n) {
				.lastCell(column);
			}
			:nth-last-child(1), 
			:nth-last-child(2), 
			:nth-last-child(3), 
			:nth-last-child(4),
			:nth-last-child(5) {
				.lastCell(row);
			}  
		}
	}
	
	@media all and (max-width: 1964px) and (min-width: 1641px) {
		#BallotPage .cells {
			.cell{
				width: 25%;
			}
			:nth-child(4n) {
				.lastCell(column);
			}
			:nth-last-child(1), 
			:nth-last-child(2), 
			:nth-last-child(3), 
			:nth-last-child(4) {
				.lastCell(row);
			}  
		}
	}
	
	@media all and (max-width: 1640px) and (min-width: 1317px) {
		#BallotPage .cells {
			.cell{
				width: 33%;
			}
			:nth-child(3n) {
				.lastCell(column);
			}
			:nth-last-child(1), 
			:nth-last-child(2), 
			:nth-last-child(3){
				.lastCell(row);
			}
		}
	}
	
	@media all and (max-width: 1316px) and (min-width: 993px) {
		#BallotPage .cells {
			.cell{
				width: 50%;
			}
			:nth-child(2n) {
				.lastCell(column);
			}
			:nth-last-child(1), 
			:nth-last-child(2){
				.lastCell(row);
			}
		}
	}
	
	@media all and (max-width: 992px) {
		#BallotPage .cells {
			.cell{
				width: 100%;
			}
			:nth-child(1n) {
				.lastCell(column);
			}
			:nth-last-child(1) {
				.lastCell(row);
			}
		}
	}
}

#DesignEditPage, #ConfigurationPage {
	form {
		
		.fields {
			margin: @size_designform_fieldGap 0;
			padding: @size_designform_fieldGap 0;
			border: 1px dashed @colors_pillar_background;
			#border>.only(top, bottom);
		}
	
		label {
			display: block;
			clear: both;
			line-height: @size_designform_fieldHeight;
			padding: @size_designform_textfieldBorderWidth 0;
			+ label {
				margin-top: @size_designform_fieldGap;
			}
		}
		
		input[type=text], select, textarea {
			height: @size_designform_fieldHeight;
			border-width: @size_designform_textfieldBorderWidth;
			border-style: solid;
			border-color: #aeaeae #c8c8c8 #e3e3e3;
			margin-top: -1 * @size_designform_textfieldBorderWidth;
			float: right;
			.box-sizing(content-box);
			padding: 0;
		}
		
		input[type=text], textarea {
			width: 66.6667%;
		}
		
		textarea {
			height: 1.5 * 4em;
		}
		
		.name[type=text] {
			.pageTitle;
			float: none;
			width: @size_designform_width - (2 * @size_designform_textfieldBorderWidth);
		}
		
		input.save {
			.button(@colors_green)
		}
		
		input.delete {
			.button(@colors_red);
		}
		
		.hr {
			text-align: center;
			text-transform: lowercase;
			font-style: italic;
			#font>.size(12px);
			color: @colors_bluegray;
			margin: (@size_designform_fieldGap/2) 0 (1.5 * @size_designform_fieldGap);
			height: @size_designform_fieldHeight / 2;
			border-bottom: 1px dashed @colors_bluegray;
			.clear;
			
			> span {
				background-color: white;
				padding: 0 1em;
			}
		}
		
		.datetimefield {
			.deadline {
				float: right;
				input[name='deadline:date'] {
					width: 63px;
				}
				input[name='deadline:hours'], input[name='deadline:minutes'] {
					width: 27px;
				}
			}
		
			input {
				float: none !important;
				width: auto;
			}
		}
	}
}

#DesignListPage {
	.form {
		li {
			&:before {
				content: "- ";
			}
			#font>.size(18px);
			color: @colors_blue;
		}
	}
}

#StatisticsPage {
	.form {
		max-width: 600px;
	
		table {
			width: 100%;
		
			td, th {
				padding: 0px 2px 8px;
			}
			
			tbody tr:first-child td, tfoot th {
				padding-top: 8px;
			}
		
			td {
				//line-height: 1.6em;
			}
			
			th {
				//line-height: 2.3em;
				#font>.size(12px);
				text-transform: uppercase;
				font-weight: bold;
			}
			
			thead {
				tr {
					border-bottom: 1px solid @colors_bluegray;
				}
			} 
			
			tfoot {
				tr {
					border-top: 1px solid @colors_bluegray;
				}
			} 
			
			.votesBar {
				text-align: center;
			}
			
			td.votesBar {
				//width: 150px;
				> div { 
					@borderWidth: 1px;
					#border>.radius(3px);
					border: @borderWidth solid @colors_bluegray;
					width: 100%;
					height: @size_statistics_votesBarHeight;
					
					> div {
						height: @size_statistics_votesBarHeight;
						background: @colors_blue;
						#border>.radius(3px);
						border: @borderWidth solid @colors_blue;
						margin: -1 * @borderWidth;
					}
				}
			}
			
			.votesNumber {
				text-align: right;
			}
		}
	}
}

#SignInPage {
	form {
		width: @size_signinform_width;
		margin: 0 auto 0;
		padding-top: 24px;
	
		h1 {
			text-indent: -9999px;
			width: 238px;
			height: 238px;
			background-repeat: no-repeat;
			.background-image("login_logo.png");
			margin: 17px auto @size_signinform_aroundInputGap;
		}
		
		input[type=text], input[type=password] {
			border-radius: 3px;
			border: 1px solid @colors_bluegray;
			background-color: white;
			width: @size_signinform_width;
			.box-sizing(border-box);
			padding: 0.4444em;
			
			#font>.size(18px);
			color: @colors_text_dark;
			//height: 40px;
			
			&:focus {
				border-color: @colors_green;
			}
		}
		
		input[type=password] {
			margin-top: @size_signinform_betweenInputGap;
		}
		
		.hint {
			#font>.size(13px);
			line-height: 18px;
			color: @colors_red;
			text-align: center;
			white-space: pre;
			font-weight: lighter;
			font-style: italic;
			margin-top: @size_signinform_aroundInputGap;
		}
		
		&.failed {
			input[type=text], input[type=password] {
				border-color: @colors_red !important;
				
			}	
		}
	}
}

.DetailsOverlay {
	display: table;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.17);
	z-index: 100;
	height: 100%;
	
	> div {
		display: table-cell;	
		vertical-align: middle;
		
		> div {
			float: right;
			left: -50%;
			position: relative;
			text-align: left;
			
			> div { //.content
				left: 50%;
				position: relative;
			}
		}
	}
	
	.content {
		.form;
		max-width: none;
		margin: 0 auto;
		
		float: left;
		
		img {
			max-height: @size_detailsoverlay_imgHeight;
			float: left;
			border: 2px solid @colors_bluegray;
			outline: 1px solid white;
			outline-offset: -3px;
			margin-right: @size_form_padding;
		}
		
		button {
			position: absolute;
			top: 0;
			right: 0;
		}
		
		.info {
			float: left;
			width: 200px;
			
			p {
				margin-top: @size_designform_fieldGap;
			}
		}
	}	
}